:root {
  --base-0: #ffffff;
  --base-1000: #000000;
  --gray-50: #F2F7FC;
  --gray-100: #EAF2F9;
  --gray-200: #E2E8F0;
  --gray-300: #CBD5E1;
  --gray-400: #94A3B8;
  --gray-500: #64748B;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1E293B;
  --gray-900: #0F172A;
  --gray-950: #020617;
  --primary-50: #EDEFFF;
  --primary-100: #DEE1FF;
  --primary-200: #C4C8FF;
  --primary-300: #A0A3FF;
  --primary-400: #807AFF;
  --primary-500: #715FFA;
  --primary-600: #5F3CEF;
  --primary-700: #522FD3;
  --primary-800: #4329AA;
  --primary-900: #392986;
  --primary-950: #22184E;
  --secondary-50: #FCF6FD;
  --secondary-100: #F9EBFC;
  --secondary-200: #F3D7F7;
  --secondary-300: #EAB7F0;
  --secondary-400: #DF8CE6;
  --secondary-500: #CF66D7;
  --secondary-600: #B340B9;
  --secondary-700: #963299;
  --secondary-800: #7C2B7D;
  --secondary-900: #672866;
  --secondary-950: #430F43;
  --tertiary-50: #FDFBE9;
  --tertiary-100: #FCF8C5;
  --tertiary-200: #FBEE8D;
  --tertiary-300: #F8DD4C;
  --tertiary-400: #F3CA1C;
  --tertiary-500: #DAAA0E;
  --tertiary-600: #C48A0A;
  --tertiary-700: #9D620B;
  --tertiary-800: #824E11;
  --tertiary-900: #6E4015;
  --tertiary-950: #402008;
  --blue-50: #F0F7FE;
  --blue-100: #DDEBFC;
  --blue-200: #C3DDFA;
  --blue-300: #9AC8F6;
  --blue-400: #6BABEF;
  --blue-500: #5090EA;
  --blue-600: #336EDD;
  --blue-700: #2A5ACB;
  --blue-800: #2849A5;
  --blue-900: #254183;
  --blue-950: #1B2950;
  --green-50: #ECFDF5;
  --green-100: #D0FBE5;
  --green-200: #A5F5D0;
  --green-300: #6BEAB8;
  --green-400: #30D79B;
  --green-500: #0CBA81;
  --green-600: #02996B;
  --green-700: #017B58;
  --green-800: #046147;
  --green-900: #04503C;
  --green-950: #012D22;
  --yellow-50: #FDFAE9;
  --yellow-100: #FBF2C6;
  --yellow-200: #F8E490;
  --yellow-300: #F3CE51;
  --yellow-400: #EEB721;
  --yellow-500: #DA9C14;
  --yellow-600: #BF7A0F;
  --yellow-700: #99560F;
  --yellow-800: #7F4614;
  --yellow-900: #6C3917;
  --yellow-950: #3F1C09;
  --red-50: #FDF4F3;
  --red-100: #FCE7E7;
  --red-200: #F8D3D3;
  --red-300: #F2AFB0;
  --red-400: #EA8286;
  --red-500: #DC4A54;
  --red-600: #C93546;
  --red-700: #A9273A;
  --red-800: #8E2336;
  --red-900: #7A2133;
  --red-950: #430E18;

  --eui-unit-0: 0px;
  --eui-unit-1: 1px;
  --eui-unit-2: 0.125rem;
  --eui-unit-4: 0.25rem;
  --eui-unit-6: 0.375rem;
  --eui-unit-8: 0.5rem;
  --eui-unit-10: 0.625rem;
  --eui-unit-12: 0.75rem;
  --eui-unit-14: 0.875rem;
  --eui-unit-16: 1rem;
  --eui-unit-18: 1.125rem;
  --eui-unit-20: 1.25rem;
  --eui-unit-24: 1.5rem;
  --eui-unit-28: 1.75rem;
  --eui-unit-30: 1.875rem;
  --eui-unit-32: 2rem;
  --eui-unit-36: 2.25rem;
  --eui-unit-40: 2.5rem;
  --eui-unit-44: 2.75rem;
  --eui-unit-48: 3rem;
  --eui-unit-50: 3.125rem;
  --eui-unit-56: 3.5rem;
  --eui-unit-60: 3.75rem;
  --eui-unit-64: 4rem;
  --eui-unit-72: 4.5rem;
  --eui-unit-80: 5rem;
  --eui-unit-96: 6rem;
  --eui-unit-112: 7rem;
  --eui-unit-128: 8rem;
  --eui-unit-144: 9rem;
  --eui-unit-160: 10rem;
  --eui-unit-176: 11rem;
  --eui-unit-192: 12rem;
  --eui-unit-208: 13rem;
  --eui-unit-224: 14rem;
  --eui-unit-240: 15rem;
  --eui-unit-256: 16rem;
  --eui-unit-288: 18rem;
  --eui-unit-320: 20rem;
  --eui-unit-384: 24rem;
  --eui-unit-448: 28rem;
  --eui-unit-512: 32rem;
  --eui-unit-576: 36rem;
  --eui-unit-672: 42rem;
  --eui-unit-768: 48rem;
  --eui-unit-896: 56rem;
  --eui-unit-1024: 64rem;
  --eui-unit-1152: 72rem;
  --eui-unit-1280: 80rem;
  --eui-unit-9999: 9999px;
}